.table-filter {
    /*border-top: 1px solid #DDD;
    background: #FFF;*/
    margin-bottom: 10px
}

.table-filter ul,.table-filter li{list-style: none;margin: 0;padding: 0;}

.table-filter .s-title {
    border-bottom: 1px solid #DDD;
    background: #F1F1F1;
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    zoom:1}

.table-filter .s-title h3 {
    float: left;
    padding-left: 10px
}

.table-filter .s-title h3 b {
    color: #e4393c;
    margin-right: 5px
}

.table-filter .s-title .st-ext {
    float: left;
    padding-left: 20px
}

.table-filter .s-brand,.table-filter .s-line,.table-filter .s-tow-row {
    width: auto;
    height: auto
}

.table-filter .sl-wrap {
    position: relative;
    _zoom: 1;
    line-height: 34px;
    border-bottom: 1px solid #DDD
}

.table-filter .s-line:after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

.table-filter .sl-key {
    float: left;
    width: 100px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 40px;
    height: 40px;
}
.table-filter .sl-key {
    color: #4c4c4c;
}
.table-filter .sl-value {
    margin-left: 110px;
    padding-right: 130px;
    padding-left: 10px;
    min-height: 40px;
    /*overflow: hidden;*/
    zoom:1;
    line-height: 40px;
}

.table-filter .sl-ext {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 120px;
    height: auto;
    line-height: 22px;
    overflow: hidden;
    zoom:1}

.table-filter .sl-ext .sl-e-more i,.table-filter .sl-ext .sl-e-multiple i {
    -webkit-transition: background-position .15s ease-in-out;
    -moz-transition: background-position .15s ease-in-out;
    transition: background-position .15s ease-in-out
}

.table-filter .sl-ext .sl-e-more {
    float: left;
    margin-right: 20px;
    position: relative;
    width: 50px;
    height: 22px;
    background: #fff;
    visibility: hidden;
    color: #333
}

.table-filter .sl-ext .sl-e-more i {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #DDD;
    background-position: 4px 7px
}

.table-filter .sl-ext .sl-e-more:hover {
    text-decoration: none;
    color: #e4393c
}

.table-filter .sl-ext .sl-e-more:hover i {
    border-color: #e4393c;
    background-position: 4px -11px
}

.table-filter .sl-ext .sl-e-more.opened i {
    background-position: 4px -27px
}

.table-filter .sl-ext .sl-e-more.opened:hover i {
    background-position: 4px -45px
}

.table-filter .sl-ext .sl-e-multiple {
    float: left;
    height: 20px;
    line-height: 20px;
    border: 1px solid #E1E1E1;
    padding: 0 3px 0 18px;
    position: relative;
    background: #F8F8F8;
    color: #333
}

.table-filter .sl-ext .sl-e-multiple i {
    position: absolute;
    display: block;
    font-style: normal;
    left: 3px;
    top: 0;
    width: 13px;
    height: 20px;
    background-position: 0 -63px
}

.table-filter .sl-ext .sl-e-multiple:hover {
    text-decoration: none;
    color: #e4393c;
    border-color: #e4393c
}

.table-filter .sl-ext .sl-e-multiple:hover i {
    background-position: 0 -84px
}

.table-filter .sl-btns {
    display: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px
}

.table-filter .sl-btns .btn-primary {
    margin-right: 8px
}

.table-filter .sl-v-list {
    overflow: hidden;
    zoom:1;
    /* padding-top: 4px */
}

.table-filter .sl-v-list ul {
    /*float: left;
    overflow: hidden;
    zoom:1;
    position: relative;
    height: 40px;*/
}

.table-filter .sl-v-list li {
    float: left;
    _display: inline;
    margin-right: 16px;
    /*margin-bottom: 4px;*/
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

.table-filter .sl-v-list li a {
    float: left;
    white-space: nowrap;
    zoom:1;color:#000;
}

.table-filter .sl-v-list li a:hover,.table-filter .sl-v-list li.active a {
    text-decoration: none;
    color: #2ea8e6
}

.table-filter .sl-v-list .sl-price {
    float: left;
    margin-bottom: 4px;
    margin-top: 2px
}

.table-filter .sl-v-list .sl-price .btn,.table-filter .sl-v-list .sl-price .input-txt,.table-filter .sl-v-list .sl-price em {
    float: left
}

.table-filter .sl-v-list .sl-price .input-txt {
    width: 38px;
    padding: 1px
}

.table-filter .sl-v-list .sl-price em {
    line-height: 21px;
    padding: 0 3px;
    color: #CCC
}

.table-filter .sl-v-list .sl-price .btn {
    margin-left: 5px;
    *display: inline;
    padding: 2px 10px 3px
}

.table-filter .sl-v-logos ul {
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    zoom:1;height: 50px
}

.table-filter .sl-v-logos li {
    float: left;
    _display: inline;
    width: 116px;
    height: 48px;
    padding: 0;
    border: 1px solid #DDD;
    margin: -1px -1px 0 0;
    background: #FFF;
    text-align: center
}

.table-filter .sl-v-logos li a {
    display: block;
    border: 1px solid #FFF;
    height: 46px;
    width: 114px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom:1;color: #005aa0;
    line-height: 48px
}

.table-filter .sl-v-logos li a img {
    padding: 5px 6px;
    vertical-align: top
}

.table-filter .sl-v-logos li a:hover {
    text-decoration: none;
    color: #e4393c
}

.table-filter .sl-v-logos li a:hover img {
    display: none;
    _display: block;
    _margin: 0;
    _padding: 5px 6px
}

.table-filter .sl-v-logos li.selected,.table-filter .sl-v-logos li:hover {
    position: relative;
    z-index: 5;
    border-color: #e4393c;
    box-shadow: 2px 2px 3px rgba(0,0,0,.12)
}

.table-filter .sl-v-logos li.selected a,.table-filter .sl-v-logos li:hover a {
    border-color: #e4393c
}

.table-filter .sl-v-logos li.selected i {
    display: block;
    position: absolute;
    right: -2px;
    bottom: -1px;
    width: 10px;
    height: 10px;
}

.table-filter .sl-v-logos .v-fixed {
    height: 99px
}

.table-filter .sl-v-color {
    overflow: hidden;
    zoom:1;height: 34px
}

.table-filter .sl-v-color ul {
    zoom:1}

.table-filter .sl-v-color li {
    float: left;
    _display: inline;
    margin-right: 10px;
    height: 28px;
    padding-top: 7px
}

.table-filter .sl-v-color li a {
    float: left;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden
}

.table-filter .sl-v-color li a b {
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd
}

.table-filter .sl-v-color li a i {
    display: none;
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 10px;
    height: 10px;
}

.table-filter .sl-v-color li a.black b {
    border-color: #333;
    background-color: #333
}

.table-filter .sl-v-color li a.light-gray b {
    border-color: #bbb;
    background-color: #bbb
}

.table-filter .sl-v-color li a.white b {
    border-color: #ddd;
    background-color: #fff
}

.table-filter .sl-v-color li a.pink b {
    border-color: #FFD8D8;
    background-color: #FFD8D8
}

.table-filter .sl-v-color li a.red b {
    border-color: red;
    background-color: red
}

.table-filter .sl-v-color li a.rose-red b {
    border-color: #FF028B;
    background-color: #FF028B
}

.table-filter .sl-v-color li a.purple b {
    border-color: #B237F1;
    background-color: #B237F1
}

.table-filter .sl-v-color li a.blue b {
    border-color: #2A8CFA;
    background-color: #2A8CFA
}

.table-filter .sl-v-color li a.green b {
    border-color: #17BC32;
    background-color: #17BC32
}

.table-filter .sl-v-color li a.orange b {
    border-color: #FF8A00;
    background-color: #FF8A00
}

.table-filter .sl-v-color li a.yellow b {
    border-color: #fc0;
    background-color: #fc0
}

.table-filter .sl-v-color li a.brown b {
    border-color: #814312;
    background-color: #814312
}

.table-filter .sl-v-color li a.light-tan b {
    border-color: #C69C81;
    background-color: #C69C81
}

.table-filter .sl-v-color li a.flesh-color b {
    border-color: #F3DCC9;
    background-color: #F3DCC9
}

.table-filter .sl-v-color li a.multi-color b {
    width: 20px;
    height: 20px;
    border: 0 none;
}

.table-filter .sl-v-color li.selected a b {
    border: 2px solid #e4393c;
    width: 16px;
    height: 16px
}

.table-filter .sl-v-color li.selected a i {
    display: block
}

.table-filter .sl-v-color li.selected a.multi-color b {
    background-position: -2px -148px
}

.table-filter .sl-b-letter {
    display: none;
    float: left;
    overflow: hidden;
    zoom:1;padding-top: 6px;
    margin-bottom: 10px
}

.table-filter .sl-b-letter li {
    float: left;
    height: 20px;
    line-height: 20px;
    border: 1px solid #FFF;
    padding: 0 3px;
    cursor: default;
    text-align: center;
    color: #005aa0
}

.table-filter .sl-b-letter li.curr,.table-filter .sl-b-letter li:hover {
    border-color: #e4393c;
    color: #e4393c
}

.table-filter .sl-b-selected {
    overflow: hidden;
    zoom:1;display: none
}

.table-filter .sl-b-selected .sl-b-key,.table-filter .sl-b-selected .sl-v-list {
    float: left
}

.table-filter .sl-b-search {
    display: none;
    float: left;
    width: 188px;
    height: 23px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-left: 5px
}

.table-filter .sl-b-search i {
    float: left;
    width: 22px;
    height: 23px;
}

.table-filter .sl-b-search .input-txt {
    float: left;
    border: 0 none;
    width: 158px
}

.table-filter .sl-b-search .placehoder {
    color: #999
}

.table-filter .extend .sl-v-color ul,.table-filter .extend .sl-v-list ul,.table-filter .extend .sl-v-logos ul,.table-filter .multiple .sl-v-color ul,.table-filter .multiple .sl-v-list ul,.table-filter .multiple .sl-v-logos ul {
    height: auto
}

.table-filter .multiple {
    margin-top: -1px;
    border: 2px solid #edd28b;
    background: #fffdee
}

.table-filter .multiple .sl-key {
    padding-left: 8px
}

.table-filter .multiple .sl-value {
    margin-left: 108px;
    background: #fff
}

.table-filter .multiple .sl-ext {
    right: 8px
}

.table-filter .multiple .sl-e-more {
    visibility: hidden
}

.table-filter .multiple .sl-btns {
    display: block
}

.table-filter .multiple .sl-v-list li {
    margin-right: 32px
}

.table-filter .multiple .sl-v-list li a {
    position: relative;
    padding-left: 18px
}

.table-filter .multiple .sl-v-list li a i {
    position: absolute;
    left: 0;
    top: 6px;
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 0
}

.table-filter .multiple .sl-v-list li a:hover i {
    border-color: #e4393c
}

.table-filter .multiple .sl-v-list li.selected a i {
    border-color: #e4393c;
    background-position: -1px -107px
}

.table-filter .s-brand,.table-filter .s-two-row {
    _position: relative
}

.table-filter .s-brand .sl-v-list li,.table-filter .s-two-row .sl-v-list li {
    width: 130px;
    margin-right: 5px
}

.table-filter .s-brand .sl-v-list li a,.table-filter .s-two-row .sl-v-list li a {
    width: 130px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.table-filter .s-brand .sl-v-list .v-fixed,.table-filter .s-two-row .sl-v-list .v-fixed {
    height: 60px
}

.table-filter .s-brand .extend,.table-filter .s-brand .multiple,.table-filter .s-two-row .extend,.table-filter .s-two-row .multiple {
    margin-top: -1px;
    border: 2px solid #AAA;
    background: #f9f9f9
}

.table-filter .s-brand .extend .sl-b-letter,.table-filter .s-brand .multiple .sl-b-letter,.table-filter .s-two-row .extend .sl-b-letter,.table-filter .s-two-row .multiple .sl-b-letter {
    display: block
}

.table-filter .s-brand .extend .sl-b-search,.table-filter .s-brand .multiple .sl-b-search,.table-filter .s-two-row .extend .sl-b-search,.table-filter .s-two-row .multiple .sl-b-search {
    display: block;
    *display: inline
}

.table-filter .s-brand .extend .sl-key,.table-filter .s-brand .multiple .sl-key,.table-filter .s-two-row .extend .sl-key,.table-filter .s-two-row .multiple .sl-key {
    padding-left: 8px
}

.table-filter .s-brand .extend .sl-value,.table-filter .s-brand .multiple .sl-value,.table-filter .s-two-row .extend .sl-value,.table-filter .s-two-row .multiple .sl-value {
    margin-left: 108px;
    background: #fff
}

.table-filter .s-brand .extend .sl-ext,.table-filter .s-brand .multiple .sl-ext,.table-filter .s-two-row .extend .sl-ext,.table-filter .s-two-row .multiple .sl-ext {
    right: 8px
}

.table-filter .s-brand .extend .sl-v-list,.table-filter .s-brand .multiple .sl-v-list,.table-filter .s-two-row .extend .sl-v-list,.table-filter .s-two-row .multiple .sl-v-list {
    margin-bottom: 10px
}

.table-filter .s-brand .extend .sl-v-list .v-fixed,.table-filter .s-brand .multiple .sl-v-list .v-fixed,.table-filter .s-two-row .extend .sl-v-list .v-fixed,.table-filter .s-two-row .multiple .sl-v-list .v-fixed {
    *width: 100%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto
}

.table-filter .s-brand .extend .sl-v-logos .v-fixed,.table-filter .s-brand .multiple .sl-v-logos .v-fixed,.table-filter .s-two-row .extend .sl-v-logos .v-fixed,.table-filter .s-two-row .multiple .sl-v-logos .v-fixed {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1px;
    height: 196px
}

.table-filter .s-brand .extend .sl-v-list.brand-selected,.table-filter .s-brand .multiple .sl-v-list.brand-selected,.table-filter .s-two-row .extend .sl-v-list.brand-selected,.table-filter .s-two-row .multiple .sl-v-list.brand-selected {
    height: 34px
}

.table-filter .s-brand .extend .sl-v-list.brand-selected li,.table-filter .s-brand .multiple .sl-v-list.brand-selected li,.table-filter .s-two-row .extend .sl-v-list.brand-selected li,.table-filter .s-two-row .multiple .sl-v-list.brand-selected li {
    width: auto;
    margin-right: 10px
}

.table-filter .s-brand .extend .sl-v-list.brand-selected li a,.table-filter .s-brand .multiple .sl-v-list.brand-selected li a,.table-filter .s-two-row .extend .sl-v-list.brand-selected li a,.table-filter .s-two-row .multiple .sl-v-list.brand-selected li a {
    width: auto
}

.table-filter .s-brand .multiple,.table-filter .s-two-row .multiple {
    border: 2px solid #edd28b;
    background: #fffdee
}

.table-filter .s-brand .multiple .sl-v-list li a,.table-filter .s-two-row .multiple .sl-v-list li a {
    width: 112px;
    padding-left: 18px
}

.table-filter .s-category .sl-v-list {
    *position: relative
}

.table-filter .s-category .sl-v-list li {
    width: 130px;
    margin-right: 5px
}

.table-filter .s-category .sl-v-list li a {
    width: 130px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.table-filter .s-category .sl-v-list .v-fixed {
    height: 30px;
    *width: 100%
}

.table-filter .s-category .extend {
    margin-top: -1px;
    border: 2px solid #AAA;
    background: #f9f9f9
}

.table-filter .s-category .extend .sl-key {
    padding-left: 8px
}

.table-filter .s-category .extend .sl-value {
    margin-left: 108px;
    background: #fff
}

.table-filter .s-category .extend .sl-ext {
    right: 8px
}

.table-filter .s-category .extend .sl-v-list .v-fixed {
    overflow-x: hidden;
    overflow-y: auto;
    height: 150px
}

.table-filter .s-more {
    text-align: center;
    position: relative;
    top: -1px;
    border-top: 1px solid #ddd;
    -webkit-transition: border-color .15s ease-in-out;
    -moz-transition: border-color .15s ease-in-out;
    transition: border-color .15s ease-in-out
}

.table-filter .s-more .sm-wrap {
    position: relative;
    display: inline-block;
    margin-top: -1px;
    height: 28px;
    line-height: 28px;
    padding: 0 40px 0 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #DDD #DDD;
    background: #fff;
    cursor: pointer;
    color: #333;
    -webkit-transition: border-color .15s ease-in-out;
    -moz-transition: border-color .15s ease-in-out;
    transition: border-color .15s ease-in-out
}

.table-filter .s-more .sm-wrap i {
    position: absolute;
    right: 16px;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.table-filter .s-more .sm-wrap.opened i {
    background-position: 4px -27px
}

.table-filter .s-more:hover {
    border-color: #e4393c
}

.table-filter .s-more:hover .sm-wrap {
    color: #e4393c;
    border-color: #FFF #e4393c #e4393c
}

.table-filter .s-more:hover .sm-wrap i {
    background-position: 4px -10px
}

.table-filter .s-more:hover .sm-wrap.opened i {
    background-position: 4px -44px
}

.table-filter .s-baby {
    border-bottom: 1px solid #ddd
}

.table-filter .sl-v-inner {
    padding-top: 4px
}

.table-filter .sl-v-list2 {
    height: 30px
}

.table-filter .sl-v-l-item {
    float: left;
    margin-right: 20px
}

.table-filter .s-senior .sl-v-inner {
    padding-top: 5px
}

.table-filter .s-senior .sl-v-list2 {
    height: 29px
}

.table-filter .s-senior .sl-value {
    overflow: visible
}

.table-filter .store-selector .text{
    color: #000;
}

.table-filter-options a{
    cursor: pointer;
}

.table-filter-options-multi .checkbox{
    margin: 0;
}
.table-filter-options-multi .checkbox input[type=checkbox]{
    margin-top: 14px;
}
.table-filter-options-multi label{
    font-weight: normal;
    margin: 0;
}


.form-inline .table-filter-inline label.control-label {
    display: inline-block;
}

.form-inline .table-filter-inline {
    display: inline-block;
}

.form-inline .table-filter-inline .form-control {
    width: 160px;
}