.buildingStatisticsTable{
    width: 100%;
    /* border:1px solid #d8e0e5; */
}
.buildingStatisticsTable tr{
    text-align:center;
      border:1px solid #d8e0e5; 
}
.buildingStatisticsTable td{
    padding:15px 0 15px 0;
    text-align:center;
    
    
}
.buildingStatisticsTable td label{
    color:#585858;
    font-family: Microsoft YaHei;
    font-size:14px;
    font-weight: normal;
    /* padding-right: 1px;
    padding-left: 1px; */
}
