.frame-body .wrapper{height: auto;}
.frame-body { background:transparent; }

.frame-body>.wrapper {
    background-color: transparent!important;
    padding: 0!important;
    border: none!important;
}

.frame-body .l-content {
    background-color: transparent;
}

.frame-body .content-wrapper,.frame-body .right-side {
    margin-left: 0;
    background-color: transparent;
}

.frame-body .detail-stage {
    padding: 0;
    border: none;
    box-shadow: none;
}

.content-wrapper>.content {
    padding: 0;
}

.content-item {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e2e6e9;
    margin-bottom: 10px;
}

.content-padding {
    padding: 10px;
}